body {
    background-color: #2a475e;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

#smoke {
    display: flex;
}

#mainNav {
    border: 2px solid blue;
    background-color: #333;
    display: flex;
    justify-content: center;
}

#mainNav button {
    margin-left: 10px;
    width: 95px;
}

#subNav {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

header img {
    width: 50px;
    height: 50px;
}

#loja {
    box-sizing: border-box;
    border: 10px;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    width: 100%;
    height: 450px;
    justify-content: center;
    text-align: center;
}

#imgGrande {
    width: 450px;
    background-color: blue;
    display: flex;
    justify-self: center;
    flex-flow: column;
    box-sizing: border-box;
    border: 10px solid #333;
}

#imgGrande img {
    width: 380px;
    height: 340px;
    box-sizing: border-box;
    margin: 15px;
    margin-left: 25px;
}

#caixaImgs {
    box-sizing: border-box;
    border: 10px solid #333;
}

#variasImgs {
    max-width: 100%;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#variasImgs img {
    width: 40%;
    height: 150px;
    margin: 10px;
    align-self: center;
}