header {
    position: relative;
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mainNav {
    padding: 15px;
    border: 5px solid blue;
    background-color: black;
}

button{
    background-color: transparent;
}