header {
    position: relative;
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    padding: 10px;
}

#smoke{
    display: flex;

}

#mainNav {
    padding: 15px;
    border: 5px solid blue;
    background-color: black;
    display: inl
}

nav a {
    color: black;
    text-decoration: none;
}

header img {
    width: 50px;
    height: 50px;
}
