#caixa1 {
    width: 200px;
    height: 470px;
    background-color: purple;
    padding: 20px;
    border: 5px solid blue;
    margin: 15px;
}

#caixa2 {
    width: 1230px;
    height: 550px;
    background-color: darkgoldenrod;
    padding: 10px;
    border: 10px solid cyan;
}

#caixa3 {
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    padding: 20px;
    border: 5px dashed purple;
    box-sizing: border-box;
}

#caixaDescricao{
    width: 200px;
    height: 470px;
    background-color: purple;
    padding: 20px;
    border: 5px solid blue;
    margin: 15px;
}

#pBlock {
    display: block;
}

#spanInline{
    display: inline;
}

#divInlineBlock{
    display: inline-block;
}

main {
    white-space: nowrap;
    min-height: 100vh;
    min-width: 100%;
}

.poke {
    width: 200px;
    height: 200px;
}

#colossusImg{
    width: 100px;
}

body {
    display: inline-block;
}