/* :root {
    background-color: aqua;
    --visibilidade: visible;
}

.visivel {
    --visibilidade: visible;
}

.invisivel {
    --visibilidade: none;
}

#atividade-3 #texto {
    display: var(--visibilidade);
} */

.hide {
    display: none;
}

#corFundo {
    width: 200px;
    height: 200px;
}

.fundoPadrao {
    background-color: grey;
}

.fundoDiferente {
    background-color: blue;
}