* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 300vh;
    min-height: 300dvh;
    display: flex;
    align-items: flex-start;
    align-content: flex-start; 
    flex-flow: column wrap;
    /* Só funciona junto com align items e se existir uma quebra de linha */ 
}

img {
    width: 300px;
    height: 30%;
}