body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #ffe7cf;
    padding: 20px;
}

h1{
    color: #ff2a12;
}

.small{
    font-size: 12px;
    color: #333;
}

button{
    background: #ff2a01;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background: #e47903;
    transform: scale(1.05);
}

button:active{
    background: #e17147;
}

.card{
    background: white;
    border-radius: 20px;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    animation: fade 0.4s ease-in-out;
}

.card img{
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}

.favoritos img{
    width: 120px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #f88a00;
    transition: 0.2s;
    cursor: pointer;
}

.favoritos img:hover{
    transform: scale(1.1) rotate(-3deg);
}

@keyframes fade{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}